<div class="row">
    <div class="col-md" align="right">
        <button type="button" class="btn btn-warning" (click)="openModal(ModalTreater)">+เพิ่มข้อมูลผู้รักษา</button>

    </div>
</div>

<ng-template #ModalTreater>
    <div class="modal-header">
        <h4 class="modal-title pull-left">ข้อมูลผู้รักษา</h4>
    </div>
    <div class="modal-body alert-info">
        <br>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="alert bg-light text-dark" role="alert">
                        <form class="col" [formGroup]="form" (ngSubmit)="submit()">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>เลขที่ประกอบโรคศิลปะ ( Licensed No. )</label>
                                    <input placeholder="พท.ป. 608" class="form-control" formControlName="cerLicensed_No">
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>คำนำหน้า ( NameTitle )</label>
                                    <select class="form-control" formControlName="cerNameTitle">
                                        <option *ngFor="let data of nametitle" placeholder="เลือกคำนำหน้า" [value]="data">{{data}} </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>ชื่อ ( First Name )</label>
                                    <input placeholder="วาสนา" class="form-control" formControlName="cerPhysicianName">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>นามสกุล ( Last Name )</label>
                                    <input placeholder="อิ่มกมล" class="form-control" formControlName="cerPhysicianSurName">
                                </div>
                            </div>

                            <br>
                            <div class="footer col-md" align="right">
                                    <button type="submit" aria-label="Close" class="btn btn-warning">บันทึก</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<div class="container">
    <ngx-datatable class="bootstrap" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
        <ngx-datatable-column name="ใบอนุญาตประกอบโรคศิลปะเลขที่">
            <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                {{value.cerLicensed_No}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ชื่อ-นามสกุล">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.cerNameTitle}} {{value.cerPhysicianName}} {{value.cerPhysicianSurName}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="เครื่องมือ">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <button type="button" class="btn btn-warning" (click)="delete(value)">ลบ</button>
                <button type="button" class="btn btn-warning" (click)="openEdit(ModalTreater, value)">แก้ไข</button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>