<div class="body">
    <div class="row">
        <div class="title">
            <div class="col text-dark ">

                <img src="../assets/images/planning.png" width="50px" height="50px">
                <label>การนัดหมาย</label>
            </div>

            <div class="head">
                <div class="col text-dark ">
                    <i>
                        <img src="../assets/images/placeholder.png" width="35px" height="35px">
                        <a href="../menu" class="alert-link text-dark">กลับสู่หน้าหลัก</a>
                    </i>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="center">
            <div class="col" align="right">
                <button type="button" class="btn btn-warning" (click)="openModal(Modalfollow)">+เพิ่มการนัดหมาย</button>

            </div>


            <div class="container">
                <ngx-datatable class="bootstrap" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
                    <ngx-datatable-column name="วันที่" [maxWidth]="300">
                        <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                            {{value.folDate}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="เวลา">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value.folmytimeHour}}-{{value.folmytimeMinute}} น.
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="ชื่อ-นามสกุล">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value.folName}} {{value.folSurName}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="ผู้รักษา">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value.folPhysicianName}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="เครื่องมือ">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="row">
                                <div class="col-2">
                                    <img src="../assets/images/395848.svg" (click)="delete(value)" width="30px" height="30px" title="ลบ">
                                </div>
                                <div class="col-2">
                                    <img src="../assets/images/edit.png" (click)="openEdit(Modalfollow, value)" width="30px" height="30px" title="แก้ไข">
                                </div>
                                <div class="col">
                                    <img src="../assets/images/view.png" (click)="openModalView(Modalviewfollow, value)" width="30px" height="30px" title="ดูข้อมูล">
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
    

    <ng-template #Modalfollow>
        <div class="modal-header">
            <h4 class="modal-title pull-left">การนัดหมาย ( Follow Up )</h4>
        </div>
        <div class="modal-body alert-info">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="alert bg-light text-dark" role="alert">
                            <br>
                            <form class="col" [formGroup]="form" (ngSubmit)="submit()">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>ชื่อผู้ป่วย</label>
                                        <input class="form-control" formControlName="folName" placeholder="ชาลี">
                                    </div>
                                </div>
                                <div class=" row">
                                    <div class="col-md-6">
                                        <label>นามสกุล</label>
                                        <input class="form-control" formControlName="folSurName" placeholder="ขยัน">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>วัน/เดือน/ปี</label>
                                        <input class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker formControlName="folDate">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>เวลา</label>
                                        <select formControlName="folmytimeHour" class="form-control">
                                            <option *ngFor="let data of time" [value]="data">{{data}}</option>
                                        </select>

                                    </div>
                                    <div class="col-md-3">
                                        <label>ถึง</label>
                                        <select formControlName="folmytimeMinute" class="form-control">
                                            <option *ngFor="let data of time" [value]="data">{{data}}</option>
                                        </select>

                                    </div>
                                    <label>น.</label>
                                </div>
                                <div class=" row">
                                    <div class="col-md-6">
                                        <label>ช่วงเวลาการรักษา</label>
                                        <div class="col-md-6" class="form-group">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-control" formControlName="folduration" value="ในเวลา">ในเวลา
                                            </label>
                                            <label class="form-check-label">
                                                <input type="radio" class="form-control" formControlName="folduration" value="นอกเวลา">นอกเวลา
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class=" row">
                                    <div class="col-md-6">
                                        <label>จุดประสงค์เพื่อ</label>
                                        <input class="form-control" formControlName="folPurpose" placeholder="ติดตามอาการ">
                                    </div>
                                </div>
                                <div class=" row">
                                    <div class="col-md-6">
                                        <label>ผู้รักษา</label>
                                        <input class="form-control" formControlName="folPhysicianName" placeholder="">
                                    </div>
                                </div>

                                <br>
                                <div class="footer col-md" align="right">
                                    <button type="submit" aria-label="Close" class="btn btn-warning">บันทึก</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>


    <ng-template #Modalviewfollow>
        <div class="modal-header">
            <h4 class="modal-title pull-left">การนัดหมาย ( Follow Up )</h4>
        </div>
        <div class="modal-body alert-info">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="alert bg-light text-dark" role="alert">

                            <div class="row">
                                <div class="col-3">
                                    <label>วันที่ :</label>
                                </div>
                                <div class="col-8">
                                    {{form.value.folDate}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label>เวลา :</label>
                                </div>
                                <div class="col-8">
                                    {{form.value.folmytimeHour}}-{{form.value.folmytimeMinute}} น.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label>ช่วงเวลาการรักษา :</label>
                                </div>
                                <div class="col-8">
                                    {{form.value.folduration}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label>ชื่อ-นามสกุล :</label>
                                </div>
                                <div class="col-8">
                                    {{form.value.folName}} {{form.value.folSurName}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label>จุดประสงค์เพื่อ :</label>
                                </div>
                                <div class="col-8">
                                    {{form.value.folPurpose}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label>ผู้รักษา :</label>
                                </div>
                                <div class="col-8">
                                    {{form.value.folPhysicianName}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>