<div class="row">
    <div class="col-md" align="right">
        <button type="button" class="btn btn-warning" (click)="openModal(ModalDrug)">+เพิ่มข้อมูลยา</button>

    </div>
</div>


<ng-template #ModalDrug>
    <div class="modal-header">
        <h4 class="modal-title pull-left">ข้อมูลยา</h4>
    </div>
    <div class="modal-body alert-info">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="alert bg-light text-dark " role="alert">
                        <form class="col" [formGroup]="form" (ngSubmit)="submit()">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>รหัสยา ( ID Drug )</label>
                                    <input placeholder="001" class="form-control" formControlName="drugId">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>ชื่อยา ( Name Drug )</label>
                                    <input placeholder="น้ำมันนวด" class="form-control" formControlName="drugName">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>ราคา ( Price )</label>
                                    <input placeholder="100" class="form-control" formControlName="drugPrice">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>บรรจุภัณฑ์ ( Packages )</label>
                                    <input placeholder="100" class="form-control" formControlName=" drugPackages">
                                </div>
                            </div>
                            <br>
                            <div class="footer col-md" align="right">
                                <button type="submit" aria-label="Close" class="btn btn-warning">บันทึก</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<div class="container">
    <ngx-datatable class="bootstrap" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows" [limit]="10">
        <ngx-datatable-column name="รหัสยา">
            <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                {{value.drugId}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ชื่อยา">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.drugName}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="บรรจุภัณฑ์">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.drugPackages}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="เครื่องมือ">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="row">
                    <div class="col-2">
                        <img src="../assets/images/395848.svg" (click)="delete(value)" width="30px" height="30px" title="ลบ">
                    </div>
                    <div class="col-2">
                        <img src="../assets/images/edit.png" (click)="openEdit(ModalDrug, value)" width="30px" height="30px" title="แก้ไข">
                    </div>
                </div>

            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
