<div class="row">
    <div class="col-md" align="right">
        <button type="button" class="btn btn-warning" (click)="openModal(ModalEvalution)">+เพิ่มข้อมูลหลังการรักษา</button>

    </div>
</div>
<ng-template #ModalEvalution>
    <div class="modal-header ">
        <h4 class="modal-title pull-left">ตรวจร่างกายและประเมินผลหลังการรักษา</h4>
    </div>
    <div class="modal-body ">

        <div class="row">

            <div class="col-12">
                <div class="alert alert-info" role="alert">
                    <div class="row">
                        <form class="col" [formGroup]="form" (ngSubmit)="submit()">
                            <div class="row">
                                <div class="col">
                                    <u>
                                        <b>การวินิจฉัยทางการแพทย์แผนปัจจุบัน</b>
                                    </u>
                                    <textarea name="address" class="form-control" row="3"></textarea>
                                </div>
                            </div>
                            <br>
                            <u>
                                <b>กรณีมีความเจ็บปวดให้บันทึกระดับความเจ็บปวดด้วย ( For pain,please record pain score )</b>
                            </u>

                            <br>
                            <b>
                                <label>มาตรวัดความปวด( หลังการรักษา ) Pain score ( Post-treatment )</label>
                            </b>

                            <div class="row">
                                <div class="col-2">
                                    <label>ไม่ปวดเลย</label>
                                </div>
                                <div class="col-2">
                                    <label>ปวดปานกลาง</label>
                                </div>
                                <div class="col">
                                    <label>ปวดมากที่สุด</label>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                            <button type="button" class="btn btn-outline-success">0</button>
                                            <button type="button" class="btn btn-outline-success">1</button>
                                            <button type="button" class="btn btn-outline-success">2</button>
                                            <button type="button" class="btn btn-outline-success">3</button>
                                        </div>
                                        <div class="btn-group mr-2 " role="group" aria-label="Second group">
                                            <button type="button" class="btn btn-outline-warning ">4</button>
                                            <button type="button" class="btn btn-outline-warning ">5</button>
                                            <button type="button" class="btn btn-outline-warning ">6</button>
                                        </div>
                                        <div class="btn-group" role="group" aria-label="Third group">
                                            <button type="button" class="btn btn-outline-danger">7</button>
                                            <button type="button" class="btn btn-outline-danger">8</button>
                                            <button type="button" class="btn btn-outline-danger">9</button>
                                            <button type="button" class="btn btn-outline-danger">10</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-7">
                                    <img src="https://i.pinimg.com/564x/ce/cb/54/cecb54937b75383be0d99c6b94758739.jpg" width="400px" height="200px">
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            ศีรษะ
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            ต้นคอ
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            บ่า
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            ไหล่
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            หลัง,เอว
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            ขา-เท้า
                                        </label>
                                    </div>

                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            ข้อเท้า
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            เข่า
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            ข้อศอก
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            ข้อมือ/ข้อนิ้วมือ
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            อ่อนแรงข้างซ้าย
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            อ่อนแรงข้างขวา
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="footer col-md" align="right">
                                <button type="submit" aria-label="Close" class="btn btn-primary">submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-template>