<div class="row justify-content-center">
    <h5><label>แบบบันทึกการใช้บริการการแพทย์แผนไทยและการแพทย์ทางเลือก</label></h5>
</div>
<div class="row justify-content-center">
    <div class="col-10">

        <table class="table table-bordered ">
            <thead>

                <tr class="bg-danger">
                   
                    <th scope="col">
                        <div class="text-center">
                            วันเดือนปี
                        </div>
                    </th>
                    <th scope="col">
                        <div class="text-center">
                            ลำดับที่
                        </div>
                    </th>
                    <th scope="col">
                        <div class="text-center">
                            เลขที่บัตร
                        </div>
                    </th>
                    <th scope="col">
                        <div class="text-center">
                            ประเภท
                        </div>
                    </th>
                    <th scope="col">
                        <div class="text-center">
                            อาการ
                        </div>
                    </th>
                    <th scope="col">
                        <div class="text-center">
                            บริการที่ใช้
                        </div>
                    </th>
                    <th scope="col">
                        <div class="text-center">
                            รวมเงิน ( บาท )
                        </div>
                    </th>
                    <th scope="col">
                        <div class="text-center">
                            หมายเหตุ
                        </div>
                    </th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>

                <tr class="table-warning">
                    <td scope="row">
                        <div class="text-center">
                            1 พ.ย.60
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            1
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            60-0794
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            เก่า
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            ปวดบ่า
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            นวด 200 , ประคบสมุนไพร 100
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            300
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            สถาพร
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            <a href="#"><img src="http://www.iconsplace.com/icons/preview/orange/add-file-256.png" width="30px" height="30px" title="เพิ่ม"></a>
                            <a href="#"><img src="https://www.iconsdb.com/icons/preview/orange/trash-2-xxl.png" width="30px" height="30px" title="ลบ"></a>
                            <a href="#"><img src="https://www.iconsdb.com/icons/preview/orange/edit-11-xxl.png" width="30px" height="30px" title="แก้ไข"></a>
                        </div>
                    </td>
                </tr>

                <tr class="table-warning">
                    <td scope="row"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="text-center">
                                <a href="#"><img src="http://www.iconsplace.com/icons/preview/orange/add-file-256.png" width="30px" height="30px" title="เพิ่ม"></a>
                                <a href="#"><img src="https://www.iconsdb.com/icons/preview/orange/trash-2-xxl.png" width="30px" height="30px" title="ลบ"></a>
                                <a href="#"><img src="https://www.iconsdb.com/icons/preview/orange/edit-11-xxl.png" width="30px" height="30px" title="แก้ไข"></a>
                        </div>
                    </td>
                </tr>
                <tr class="table-warning">
                    <td scope="row"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="text-center">
                                <a href="#"> <img src="http://www.iconsplace.com/icons/preview/orange/add-file-256.png" width="30px" height="30px" title="เพิ่ม"></a>
                                <a href="#"> <img src="https://www.iconsdb.com/icons/preview/orange/trash-2-xxl.png" width="30px" height="30px" title="ลบ"></a>
                                <a href="#"> <img src="https://www.iconsdb.com/icons/preview/orange/edit-11-xxl.png" width="30px" height="30px" title="แก้ไข"></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>