<div class="row">
    <div class="col-md" align="right">
        <button type="button" class="btn btn-warning" (click)="openModal(ModalDisease)">+เพิ่มข้อมูลโรค/หัตถการ</button>

    </div>
</div>

<ng-template #ModalDisease>
    <div class="modal-header">
        <h4 class="modal-title pull-left">ข้อมูลโรค/หัตถการ</h4>
    </div>
    <div class="modal-body alert-info">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="alert bg-light text-dark" role="alert">
                        <form class="col " [formGroup]="form" (ngSubmit)="submit()">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="inputEmail4">รหัสโรค ( ID Disease )</label>
                                    <input type="text" class="form-control" placeholder="U61.2" formControlName="treatDiseaseID">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="inputEmail4">ส่วนของร่างกาย ( Body Parts)</label>
                                    <input type="text" placeholder="ศรีษะ" class="form-control" formControlName="treatBodyParth">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="inputEmail4">ชื่อโรค ( Name Disease )</label>
                                    <input type="text" placeholder="เหน็บชา" class="form-control" formControlName="treatDiseaseName">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>หัตถการ ( Procedure )</label>
                                    <input type="text" placeholder="ส.4 หัวไหล่" class="form-control" formControlName="treatProcedure">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="inputEmail4">วิธีการรักษา ( Treatmemt )</label>
                                    <input type="text" placeholder="อบสมุนไพร" class="form-control" formControlName="treatMent">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="inputEmail4">ราคา ( Price )</label>
                                    <input type="text" placeholder="500" class="form-control" formControlName="treatPrice">
                                </div>
                            </div>
                            <br>
                            <div class="footer col-md" align="right">
                                    <button type="submit" aria-label="Close" class="btn btn-warning">บันทึก</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<div class="container">
    <ngx-datatable class="bootstrap" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
        <ngx-datatable-column name="รหัสโรค">
            <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>

                {{value.treatDiseaseID}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ส่วนของร่างกาย">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.treatBodyParth}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ชื่อโรค">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.treatDiseaseName}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="หัตถการ">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.treatProcedure}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="วิธีการรักษา">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.treatMent}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ราคา">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.treatPrice}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="เครื่องมือ">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <button type="button" class="btn btn-warning" (click)="delete(value)">ลบ</button>
                <button type="button" class="btn btn-warning" (click)="openEdit(ModalDisease, value)">แก้ไข</button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>