
<div class="row justify-content-between">
    <div class="col-4">
    </div>
    <div class="col-1">

    </div>
</div>

<div class="container">

    <div class="row justify-content-center">
        <div class="col-4 ">
            <br>
            <br>
            <br>
            <div class="alert alert-info" role="alert">
                <form>
                    <div class="form-group">
                        <div class="form-group">



                            <label for="exampleInputEmail1">LOGIN</label>

                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="UserID">
                            <br>


                            <button type="button" class="btn btn-outline-info btn-md btn-block">Sing in</button>
                            <button type="button" class="btn btn-outline-info btn-md btn-block">New User</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

