<div class="container">

    <div class="row justify-content-center">
        <div class="col-4 ">
            <br>
            <br>
            <br>
            <div class="alert alert-info" role="alert">
                <form>
                    <div class="form-group">
                        <div class="form-group">
                            <center>
                                <img src="user-icon-png-pnglogocom.png" width="100px" height="100px">
                            </center>
                            <label for="exampleInputEmail1">LOGIN</label>

                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="UserID">
                            <br>
                            <center>
                                <button type="button" class="btn btn-outline-info btn-md btn-block">Sing in</button>
                            </center>
                        </div>
                </form>
                </div>
            </div>
        </div>
    </div>