 
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
   <img src="http://thaimed.buu.ac.th/public/backend/upload/thaimed.buu.ac.th/summernote/1ff8a7b5dc7a7d1f0ed65aaa29c04b1e.jpg" class="rounded-circle " width="10%" height="20%">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

 
  <div class="collapse navbar-collapse border-dark" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <a class="nav-link bg-info" href="">ข้อมูลทั่วไป
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link bg-info" href="../login/">นัดหมาย</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link bg-info" href="../recommend/">ใบรับรองแพทย์</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link bg-info" href="../top/">แบบบันทึกรายงานสรุป</a>
      </li>
    </ul>
   <img src="http://poisotlab.io/mugshots/generic.png" width="10%" hight="5%">
  </div>
</nav>

<br>


