<!-- <div class="row justify-content-between">
  <div class="col-4">
  </div>
  <div class="col-1">
  </div>
</div> -->


<div class="alert alert-info" role="alert">
  <br>
  <div class="row">
    <div class="col-2">
      <div class="alert bg-warning" role="alert">
        <h4>ข้อมูลพื้นฐาน </h4>
      </div>
      <br>
    </div>
  </div>

  <div class="alert bg-dark  text-center" role="alert">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col">
        <img src="../assets/images/medicine.png" width="23%" height="20%">
        <a class="nav-link text-white" href="../add">เพิ่มข้อมูลโรค/หัตถการ/ยา</a>
      </div>
      <div class="col">
        <img src="../assets/images/em.png" width="50%" height="25%">
        <a class="nav-link text-white" href="../tabtreater">เพิ่มข้อมูลผู้รักษา</a>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-2">
      <div class="alert bg-warning" role="alert">
        <h4>ข้อมูลผู้ป่วย</h4>
      </div>
      <br>
    </div>
  </div>
  <div class="alert bg-dark text-white text-center" role="alert">
    <div class="alert bg-dark text-white text-center" role="alert">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col">
          <img src="../assets/images/1.png" width="75%" height="25%">
          <a class="nav-link text-white" href="../personal">การรักษา</a>
        </div>
        <div class="col">
          <img src="../assets/images/cer.png" width="65%" height="23%">
          <a class="nav-link text-white" href="../certificate">ใบรับรองแพทย์</a>
        </div>
        <div class="col">
          <img src="../assets/images/calen.png" width="35%" height="25%">
          <a class="nav-link text-white" href="../follow">การนัดหมาย</a>
        </div>

      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-2">
      <div class="alert bg-warning " role="alert">
        <h4>ข้อมูลรายงาน</h4>
      </div>
      <br>
    </div>
  </div>
  <div class="alert bg-dark  text-white text-center" role="alert">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col">
        <img src="../assets/images/grahp.png" width="30%" height="30%">
        <a class="nav-link text-white" href="../personal-list">แบบบันทึกรายงานสรุป</a>
      </div>
    </div>
  </div>
</div>