<!-- <div class="row justify-content-between">
  <div class="col-4">
  </div>
  <div class="col-1">
  </div>
</div> -->


<div class="alert alert-info" role="alert">
  <br>
  <div class="row">
    <div class="col-2">
      <div class="alert bg-warning" role="alert">
        <h4>ข้อมูลพื้นฐาน </h4>
      </div>
      <br>
    </div>
  </div>
  <div class="alert bg-dark  text-center" role="alert">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col">
        <img src="../assets/images/medicine.png" width="22%" height="25%">
        <a class="nav-link text-white" href="../add">เพิ่มข้อมูลโรค/หัตถการ/ยา</a>
      </div>
      <div class="col">
        <img src="https://image.flaticon.com/icons/svg/682/682540.svg" width="25%" height="25%">
        <a class="nav-link text-white" href="../treater">เพิ่มข้อมูลผู้รักษา</a>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-2">
      <div class="alert bg-warning" role="alert">
        <h4>ข้อมูลผู้ป่วย</h4>
      </div>
      <br>
    </div>
  </div>
  <div class="alert bg-dark text-white text-center" role="alert">
    <div class="alert bg-dark text-white text-center" role="alert">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col">
          <img src="https://image.flaticon.com/icons/svg/808/808896.svg" width="34%" height="25%">
          <a class="nav-link text-white" href="../personal">การรักษา</a>
        </div>
        <div class="col">
          <img src="https://image.flaticon.com/icons/svg/808/808917.svg" width="34%" height="25%">
          <a class="nav-link text-white" href="../personal-list">ใบรับรองแพทย์</a>
        </div>
        <div class="col">
          <img src="https://image.flaticon.com/icons/png/512/763/763436.png" width="34%" height="25%">
          <a class="nav-link text-white" href="../followUp">การนัดหมาย</a>
        </div>

      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-2">
      <div class="alert bg-warning " role="alert">
        <h4>ข้อมูลรายงาน</h4>
      </div>
      <br>
    </div>
  </div>
  <div class="alert bg-dark  text-white text-center" role="alert">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col">
        <img src="https://image.flaticon.com/icons/svg/682/682509.svg" width="34%" height="25%">
        <a class="nav-link text-white" href="../personal-list">แบบบันทึกรายงานสรุป</a>
      </div>
    </div>
  </div>
</div>