.body {
    background-image: url('../../assets/images/iStock-515448322_M.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
}
.container {
    width: 400px;
    height: 350px;
    border-radius: 4px;
    background-color: rgba(3, 7, 12, 0.8);
    margin: 0 auto;
    margin-top: 30px;
    
}

