<div class="row">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="alert alert-warning" role="alert">
                    <strong>เพิ่มข้อมูลทั่วไป (Add Personal)</strong>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-lg-12">
        <div class="row justify-content-center">
            <div class="col-lg-8">

                <div class="alert alert-info" role="alert">
                    <form #Personal="ngForm" (ngSubmit)="submit(Personal.value)">
                        <div class="row">

                            <div class="col ">
                                <label>เลขที่บัตร(User ID)</label>
                                <input type="text" name="personId" class="form-control" [(ngModel)]="personId">
                            </div>
                            <div class="col">
                                <label>เพศ(Sex)</label>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name=" personGender" value="option1" [(ngModel)]="personGender"> ชาย(Male)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="personGender" value="option2" [(ngModel)]="personGender"> หญิง(Female)
                                    </label>

                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col">
                                <label>ชื่อ(First Name)</label>
                                <input name="personName" class="form-control" placeholder="Enter text" [(ngModel)]="personName">
                            </div>
                            <div class="col">
                                <label>นามสกุล(Last Name)</label>
                                <input name="personSurname" class="form-control" placeholder="Enter text" [(ngModel)]="personSurname">
                            </div>
                        </div>


                        <div class="row">
                            <div class="col">
                                <label>วันเกิด(ฺฺBrithday)</label>
                                <input name="personDate" class="form-control" placeholder="Enter text" [(ngModel)]="personDate">
                                <p class="help-block">Example "yyyy-mm-dd"</p>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col">
                                <label>สถานภาพ(ฺฺStatus)</label>
                                <select name="personMaritalStatus" type="String" class="form-control" [(ngModel)]="personMaritalStatus">
                                    <option>โสด(Single)</option>
                                    <option>คู่(Married)</option>
                                    <option>หม้าย(Widowed)</option>
                                    <option>หย่า(Divorced))</option>
                                    <option>แยกกันอยู่(Separated)</option>
                                    <option>นักบวช(Monk)</option>
                                </select>
                            </div>
                            <div class="col">
                                <label>อาชีพ(ฺฺOccupation)</label>
                                <input name="personCareer" class="form-control" placeholder="Enter text" [(ngModel)]="personCareer">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label>เลขบัตรประชาชน(ฺฺID card)</label>
                                <input name="personIdentityId" class="form-control" placeholder="Enter text" [(ngModel)]="personIdentityId">
                            </div>
                            <div class="col">
                                <label>สถานที่เกิด(Brith Palce)</label>
                                <input name=" personBirthPlace" class="form-control" placeholder="Enter text" [(ngModel)]=" personBirthPlace">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label>เชื้อชาติ(ฺฺNationality)</label>
                                <input name="personNationality" class="form-control" placeholder="Enter text" [(ngModel)]="personNationality">
                            </div>
                            <div class="col">
                                <label>สัญชาติ(ฺฺCitizenship)</label>
                                <input name="personCitizenship" class="form-control" placeholder="Enter text" [(ngModel)]="personCitizenship">
                            </div>
                            <div class="col">
                                <label>ศาสนา(ฺฺReligion)</label>
                                <input name="personReligion" class="form-control" placeholder="Enter text" [(ngModel)]="personReligion">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label>จังหวัด(ฺฺProvince)</label>
                                <input name="personProvince" class="form-control" placeholder="Enter text" [(ngModel)]="personProvince">
                            </div>
                            <div class="col">
                                <label>โทรศัพท์(ฺฺPhone)</label>
                                <input name="personNumber" class="form-control" placeholder="Enter text" [(ngModel)]="personNumber">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <label>ที่อยู่(ฺฺAddress)</label>
                                <textarea name="personAddress" class="form-control" row="3" [(ngModel)]="personAddress"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>ประวัติครอบครัว(family History)</label>
                                <input type="text" name="personFamilyHistory" class="form-control" placeholder="Enter text" [(ngModel)]="personFamilyHistory">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label>ประวัติส่วนตัว(Personal History)</label>
                                <input type="text" name="personPersonalHistory" class="form-control" placeholder="Enter text" [(ngModel)]="personPersonalHistory">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>


<div class="container-fluid">
    <div class="row">
        <div class="col col-sm-8">
            <div class="row justify-content-center">
                <div class="alert alert-warning" role="alert">
                    <b>
                        <p>ประวัติการเจ็บป่วย(General and Medical Information)</p>
                    </b>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="alert alert-info" role="alert">
                        <form>
                            <div class="row">
                                <div class="col ">
                                    <label for="inputEmail4">วัน เดือน ปีที่มาพบแพทย์(Current date)</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                                <div class="col">
                                    <label for="inputEmail4">เวลา(time) นาที(am/pm)</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label for="inputEmail4">อาการสำคัญ(Symptoms/Condition)</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label for="inputEmail4">ประวัติปัจจุบัน(Present History)</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label for="inputEmail4">ประวัติอดีต(Past History)</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="inputEmail4">อุณหภูมิ(Temp)</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                                <div class="col">
                                    <label for="inputEmail4">ชีพจร(Pulse) ครั้ง/นาที(Beats/min)</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="inputEmail4">การหายใจ(Respiration) ครั้ง/นาที(Beats/min)</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                                <div class="col">
                                    <label for="inputEmail4">ความดันโลหิต(BP) มม.ปรอท(mmHg)</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="inputEmail4">ส่วนสูง(Height) ซม.(cm.) </label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                                <div class="col">
                                    <label for="inputEmail4">น้ำหนัก(Weight) กก.(Kg.)</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                                <div class="col">
                                    <label for="inputEmail4">ค่า BMI</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>