<div class="alert alert-info" role="alert">
    <div class="row">
        <div class="col-1"></div>

        <img src="../assets/images/planning.png" width="60px" height="60px">

        <div class="col-2">
            <div class="alert bg-warning" role="alert">
                <h4>
                    การนัดหมาย
                </h4>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row ">

            <div class="col-12">
                <div class="alert alert-light" role="alert">
                    <div class="col-12">
                        <form>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label text-dark">ชื่อผู้ป่วย</label>
                                        <div class="col-4">
                                            <input class="form-control" placeholder="">
                                        </div>
                                        <label class="col-1 col-form-label text-dark">นามสกุล</label>
                                        <div class="col-4">
                                            <input class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label text-dark">วัน/เดือน/ปี</label>
                                        <div class="col-4">
                                            <input class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker formControlName="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        
                                        <label class="col-2 col-form-label text-dark">เวลา</label>
                                        <div class="col-3">
                                            <timepicker [(ngModel)]="follmytimeOne"></timepicker>
                                        </div>
                                        <label class="col-1 col-form-label text-dark">ถึง</label>
                                        <div class="col-3">
                                                <timepicker [(ngModel)]="follmytimeTwo"></timepicker>
                                        </div>
                                        <label class="col-1 col-form-label text-dark">น.</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label text-dark">ช่วงเวลาการรักษา</label>
                                        <div class="col-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label text-dark" for="inlineRadio1">ในเวลา</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label text-dark" for="inlineRadio1">นอกเวลา</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col">
                                        <div class="form-group row">
                                            <label class="col-2 col-form-label text-dark">จุดประสงค์เพื่อ</label>
                                            <div class="col-4">
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label text-dark">ผู้รักษา</label>
                                        <div class="col-4">
                                            <input class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer col-md" align="right">
                                <button type="submit" aria-label="Close" class="btn btn-warning">submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <ngx-datatable class="bootstrap" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
            <ngx-datatable-column name="วันที่" [maxWidth]="100">
                <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>

                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="เวลา">
                <ng-template let-value="value" ngx-datatable-cell-template>

                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ช่วงเวลาการรักษา">
                <ng-template let-value="value" ngx-datatable-cell-template>

                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ชื่อ-นามสกุล">
                <ng-template let-value="value" ngx-datatable-cell-template>

                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="ผู้รักษา">
                <ng-template let-value="value" ngx-datatable-cell-template>

                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="เครื่องมือ">
                <ng-template let-value="value" ngx-datatable-cell-template>

                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>