<div class="row">
    <div class="col-md" align="right">
        <button type="button" class="btn btn-warning" (click)="openModal(ModalPhysical)">+เพิ่มข้อมูลการรักษา</button>

    </div>
</div>
<div class="container">
    <ngx-datatable class="bootstrap" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
        <ngx-datatable-column name="อุณหภูมิ">
            <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                {{value.phyTemp}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ชีพจร">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value. phyPulse}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ความดันโลหิต">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.phyBp}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ค่า BMI">
            <ng-template let-value="value" ngx-datatable-cell-template>

            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="การหายใจ">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.phyRespirationRate}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ส่วนสูง">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.phyHeight}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="น้ำหนัก">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.phyWeight}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="เครื่องมือ">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <button type="button" class="btn btn-warning" (click)="delete(value)">ลบ</button>
                <button type="button" class="btn btn-warning" (click)="openEdit(ModalPhysical, value)">แก้ไข</button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
<ng-template #ModalPhysical>
    <div class="alert alert-info" role="alert">
        <div class="row">
            <form class="col" [formGroup]="form">
                <div class="row">
                    <div class="col">
                        <label for="inputEmail4">อุณหภูมิ ( Temp )</label>
                        <input type="text" class="form-control" placeholder="" formControlName="phyTemp">
                    </div>
                    <div class="col">
                        <label for="inputEmail4">ชีพจร( Pulse ) ครั้ง/นาที( Beats/min )</label>
                        <input type="text" class="form-control" placeholder="" formControlName="phyPulse">
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <label for="inputEmail4">การหายใจ ( Respiration ) ครั้ง/นาที ( Beats/min )</label>
                        <input type="text" class="form-control" placeholder="" formControlName="phyRespirationRate">
                    </div>
                    <div class="col">
                        <label for="inputEmail4">ความดันโลหิต ( BP ) มม.ปรอท ( mmHg )</label>
                        <input type="text" class="form-control" placeholder="" formControlName="phyBp">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="inputEmail4">ส่วนสูง ( Height ) ซม. ( cm. ) </label>
                        <input type="text" class="form-control" placeholder="" formControlName="phyHeight">
                    </div>
                    <div class="col">
                        <label for="inputEmail4">น้ำหนัก ( Weight ) กก. ( Kg.)</label>
                        <input type="text" class="form-control" placeholder="" formControlName="phyWeight">
                    </div>
                    <div class="col">
                        <label for="inputEmail4">ค่า BMI</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
               
                <br>
                <u>
                    <b>กรณีมีความเจ็บปวดให้บันทึกระดับความเจ็บปวดด้วย ( For pain,please record pain score )</b>
                </u>

                <br>
                <b>
                    <label>มาตรวัดความปวด( หลังการรักษา ) Pain score ( Post-treatment )</label>
                </b>

                <div class="row">
                    <div class="col-2">
                        <label>ไม่ปวดเลย</label>
                    </div>
                    <div class="col-2">
                        <label>ปวดปานกลาง</label>
                    </div>
                    <div class="col">
                        <label>ปวดมากที่สุด</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button type="button" class="btn btn-outline-danger">0</button>
                                <button type="button" class="btn btn-outline-danger">1</button>
                                <button type="button" class="btn btn-outline-danger">2</button>
                                <button type="button" class="btn btn-outline-danger">3</button>
                            </div>
                            <div class="btn-group mr-2 " role="group" aria-label="Second group">
                                <button type="button" class="btn btn-outline-danger">4</button>
                                <button type="button" class="btn btn-outline-danger">5</button>
                                <button type="button" class="btn btn-outline-danger">6</button>
                            </div>
                            <div class="btn-group" role="group" aria-label="Third group">
                                <button type="button" class="btn btn-outline-danger">7</button>
                                <button type="button" class="btn btn-outline-danger">8</button>
                                <button type="button" class="btn btn-outline-danger">9</button>
                                <button type="button" class="btn btn-outline-danger">10</button>
                            </div>



                        </div>

                    </div>



                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <img src="https://i.pinimg.com/564x/ce/cb/54/cecb54937b75383be0d99c6b94758739.jpg" width="400px" height="200px">

                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                ศีรษะ 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                ต้นคอ
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                บ่า
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                ไหล่
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                หลัง,เอว
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                ขา-เท้า
                            </label>
                        </div>

                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                ข้อเท้า
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                เข่า
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                ข้อศอก
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                ข้อมือ/ข้อนิ้วมือ
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                อ่อนแรง
                            </label>
                        </div>
                    </div>
                </div>
                <br>
                <u>
                    <b>การวินิจฉัยทางการแพทย์แผนปัจจุบัน ( ถ้ามี ) Modern Medical diagnosis ( if provided )</b>
                </u>
                <div class="row">
                    <div class="col">
                        <label for="inputEmail4"></label>
                        <textarea name="address" class="form-control" row="3"></textarea>
                    </div>
                </div>
                <br>
                <div class="footer col-md" align="right">
                    <button type="submit" aria-label="Close" class="btn btn-primary" (click)="submit()">submit</button>
                </div>

            </form>
        </div>
    </div>

</ng-template>