<div class="row">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <img src="http://thaimed.buu.ac.th/public/backend/upload/thaimed.buu.ac.th/summernote/1ff8a7b5dc7a7d1f0ed65aaa29c04b1e.jpg"
                class="rounded-circle " width="10%" height="20%">
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-4">
            </div>
            <div class="col-5">
                <label>ใบรับรองแพทย์</label>
            </div>
            <div class="col-4">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
            </div>
            <div class="col-5">
                <label>ศูนย์บริการการแพทย์แผนไทยและการแพทย์ทางเลือก</label>
            </div>
            <div class="col-4">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
            </div>
            <div class="col-5">
                <label>คณะการแพทย์แผนไทยอภัยภูเบศร</label>
            </div>
            <div class="col-4">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-5">
            </div>
            <div class="col-4">
                <label>มหาวิทยาลัยบูรพา จังหวัดชลบุรี 20131</label>
            </div>
            <div class="col-4">
            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col-3">

            </div>
            <div class="col-4">
                <form>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">ข้าพเจ้า</label>
                        <div class="col-sm-7">
                            <select class="form-control">
                                <option>นางสาวพรรณภัทร อินทฤทธิ์</option>
                                <option>นาย....</option>
                                <option>นางสาว.....</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col">
                        <label>ใบอนุญาตประกอบโรคศิลปะ สาขาการแพทย์แผนไทยประยุกต์</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>เลขที่ พท.ป.608 ได้ทำการตรวจร่างกาย นาง........</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>ที่อยู่ปัจจุบัน ...................</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">เมื่อวันที่</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="myDateValue">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">จนถึงวันที่</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="myDateValue">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>ได้พิจารณาแล้วเห็นว่า นาง............</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>มีอาการ/โรค .......</label>
                    </div>
                </div>

            </div>
            <div class="col-4">
            </div>
        </div>
        <br>
        <br>
        <div class="row ">
            <div class="col-3">
            </div>
            <div class="col-5">
                <p>
                    <label>ซึ่งเป็นผู้มีข้อบ่งชี้ทางการแพทย์ว่าจำเป็นต้องบำบัดรักษาและฟื้นฟูสภาพโดยวิธี</label>
                </p>
                <p>
                    <label>(/) ทางการแพทย์</label>
                </p>
            </div>
            <div class="col-4">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
            </div>
            <div class="col-5">
                <p>
                    <label>ลงชื่อ..........................................ผู้ตรวจ</label>
                </p>
                <form>
                    <div class="form-group row">
                        <label>(</label>
                        <div class="col-sm-5">
                            <select class="form-control">
                                <option>นางสาวพรรณภัทร อินทฤทธิ์</option>
                                <option>นาย....</option>
                                <option>นางสาว.....</option>
                            </select>
                        </div>
                        <label>)</label>
                    </div>
                </form>

            </div>
            <div class="col-4">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
            </div>
            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput"></label>
                        <div class="col-sm-4">
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="พท.ป.608">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-5">
            </div>
        </div>
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4">

            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-info">Print</button>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>