<div class="row">
    <div class="col-12 text-center">

        <a href="../menu" class="alert-link">ข้อมูลผู้ป่วย</a>
        <img src="../assets/images/placeholder.png" width="50px" height="50px">
    </div>
</div>
<div class="alert alert-info" role="alert">
    <br>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="alert bg-light text-dark" role="alert">
                    <form class="col from-group" [formGroup]="form" (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="inputEmail4">วันที่ออกใบรับรองแพทย์ ()</label>
                                <input type="text" class="form-control" placeholder="U61.2" formControlName = "treatDiseaseID">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="inputEmail4">ข้าพเจ้า</label>
                                <input type="text" placeholder="ศรีษะ" class="form-control"  formControlName = "treatBodyParth">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="inputEmail4">ใบอนุญาตประกอบโรคศิลปะเลขที่</label>
                                <input type="text" placeholder="เหน็บชา" class="form-control" formControlName = "treatDiseaseName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>หัตถการ ( Procedure )</label>
                                <input type="text" placeholder="ส.4 หัวไหล่" class="form-control"  formControlName = "treatProcedure">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="inputEmail4">วิธีการรักษา ( Treatmemt )</label>
                                <input type="text" placeholder="อบสมุนไพร" class="form-control"  formControlName = "treatMent">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="inputEmail4">ราคา ( Price )</label>
                                <input type="text" placeholder="500" class="form-control"  formControlName = "treatPrice">
                            </div>
                        </div>
                        <br>
                        <div class="footer col-md">
                            <button type="submit" aria-label="Close" class="btn btn-primary">บันทึก</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>