<div class="row">
    <div class="col-md" align="right">
        <button type="button" class="btn btn-warning" (click)="openModal(insertGeneralAdd3)">+เพิ่มข้อมูลสรุปความเจ็บป่วย</button>
    </div>
</div>

<div class="container">
    <ngx-datatable class="bootstrap" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
        <ngx-datatable-column name="อาการโรค">
            <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                {{value.summarySymptom}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="หัตถการ">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.summaryProcedure}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="แผนการรักษา">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.summaryTreatment}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="วิธีการรักษา">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.summaryHerbalcompress}} {{value.summaryHerbalsteam}} {{value.summaryDrug}} {{value.summaryAnother}}

            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="เครื่องมือ">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="row">
                    <div class="col-3">
                        <img src="../assets/images/395848.svg" (click)="delete(value)" width="30px" height="30px" title="ลบ">
                    </div>
                    <div class="col-3">
                        <img src="../assets/images/edit.png" (click)="openEdit(insertGeneralAdd3, value)" width="30px" height="30px" title="แก้ไข">
                    </div>
                    <div class="col">
                        <img src="../assets/images/view.png" (click)="openModalView(ModalviewGeneralAdd3, value)" width="30px" height="30px" title="ดูข้อมูล">
                    </div>
                </div>



            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
<ng-template #insertGeneralAdd3>

    <div class="modal-header">
        <h4 class="modal-title pull-left">สรุปความเจ็บปวด</h4>
    </div>
    <div class="modal-body">

        <div class="row">

            <div class="col-12">
                <div class="alert alert-info" role="alert">
                    <form class="col" [formGroup]="form" (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col-md-4">

                                <label for="inputEmail4">อาการโรค</label>
                                <div class="row-fluid">
                                    <select name="level" class="form-control" (change)="check()" formControlName="summarySymptom">
                                        <option></option>
                                        <optgroup>
                                            <option *ngFor="let data of disease">{{data.disProcedure}}</option>
                                        </optgroup>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inputEmail4">หัตถการ ( masssge )</label>
                                <textarea name="address" class="form-control" row="3" formControlName="summaryProcedure"></textarea>
                            </div>

                        </div>
                        <br>
                        <u>
                            <b>การรักษา ( Treatment )</b>
                        </u>
                        <div class="row">
                            <div class="col">
                                <label for="inputEmail4">แผนการรักษา ( Treatment plan )</label>
                                <textarea name="address" class="form-control" row="3" formControlName="summaryTreatment"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <label>วิธีการรักษา ( Treatment Program )</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group has-success">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="summaryHerbalcompress" value="ประคบสมุนไพร">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">ประคบสมุนไพร ( The Thai herbal compress massage )</span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group has-success">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="summaryHerbalsteam" value="อบสมุนไพร">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">อบสมุนไพร ( Herbal steam )</span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group has-success">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="summaryDrug" value="จ่ายยาจากสมุนไพร">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description"> จ่ายยาจากสมุนไพร ( ระบุชื่อ ปริมาณ ขนาดที่ใช้ )</span>
                                </label>
                            </div>
                        </div>
                        <br>
                        <div class="col-11" align="right">
                            <button type="submit" aria-label="Close" class="btn btn-primary">บันทึก</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #ModalviewGeneralAdd3>
    <div class="modal-header">
        <h4 class="modal-title pull-left">สรุปความเจ็บปวด</h4>
    </div>
    <div class="modal-body alert-info">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="alert bg-light text-dark" role="alert">

                        <div class="row">
                            <div class="col-3">
                                <label>อาการโรค :</label>
                            </div>
                            <div class="col-8">
                                {{form.value.summarySymptom}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label>หัตถการ :</label>
                            </div>
                            <div class="col-8">
                                {{form.value.summaryProcedure}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label>แผนการรักษา :</label>
                            </div>
                            <div class="col">
                                {{form.value.summaryTreatment}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label>ชื่อ-นามสกุล :</label>
                            </div>
                            <div class="col-8">
                                {{form.value.folName}} {{form.value.folSurName}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <label>วิธีการรักษา :</label>
                            </div>
                            <div class="col">
                                {{form.value.summaryHerbalcompress}}
                            </div>
                            <div class="col">
                                {{form.value.summaryHerbalsteam}}
                            </div>
                            <div class="col-3">
                                {{form.value.summaryDrug}}
                            </div>
                            <div class="col">
                                {{form.value.summaryAnother}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>