<div class="body">
    <div class="row">
        <div class="title">
            <div class="col text-dark">
                <label>ข้อมูลพื้นฐาน</label>
            </div>

            <div class="head">
                <div class="col text-dark ">
                    <i>
                        <img src="../assets/images/placeholder.png" width="35px" height="35px">
                        <a href="../menu" class="alert-link text-dark">กลับสู่หน้าหลัก</a>
                    </i>
                </div>
            </div>
        </div>
    </div>  

    <div class="row">
        <div class="center">
            <div class="container">
                <tabset>
                    <tab heading="เพิ่มโรค/หัตถการ">
                        <app-disease></app-disease>
                    </tab>
                    <tab heading="เพิ่มวิธีการรักษา">
                        <app-remedy></app-remedy>
                    </tab>
                    <tab heading="เพิ่มยา">
                        <app-drug></app-drug>
                    </tab>

                </tabset>

            </div>

        </div>
    </div>

</div>