<div class="alert alert-info" role="alert">
    <br>

    <div class="row">
        <div class="col-12 text-center">

            <a href="../menu" class="alert-link">ข้อมูลพื้นฐาน</a>
            <img src="../assets/images/placeholder.png" width="50px" height="50px">
        </div>
    </div>
    <br>
    <div class="container">
        <tabset>
            <tab heading="เพิ่มโรค/หัตถการ">
                <app-disease></app-disease>
            </tab>
            <tab heading="เพิ่มยา">
                <app-drug></app-drug>
            </tab>

        </tabset>
    </div>
</div>