<div class="body">
    <div class="row">
        <div class="title">
            <div class="col-12 text-dark ">
            
                    <label>ข้อมูลพื้นฐาน</label>
                
            </div>

            <div class="head">
                <div class="col text-dark">
                    <i>
                        <a href="../menu" class="alert-link text-dark">กลับสู่หน้าหลัก</a>
                    </i>
                    <img src="../assets/images/placeholder.png" width="35px" height="35px">
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="center">
            <div class="container">
                <tabset>
                    <tab heading="เพิ่มข้อมูลผู้รักษา">
                        <app-treater></app-treater>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>