<div class="body">
    <div class="row">
        <div class="title">
            <div class="col-8">
                <img src="../assets/images/pic.png" width="100px" height="100px">
                <label>ข้อมูลพื้นฐาน</label>
            </div>
            <div class="head">
                <div class="col">
                    <i>
                        <img src="../assets/images/placeholder.png" width="33px" height="33px">
                        <a href="../menu" class="alert-link text-dark">กลับสู่หน้าหลัก</a>
                    </i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="center">
            <div class="container">
                <tabset>
                    <tab heading="เพิ่มข้อมูลผู้รักษา">
                        <app-treater></app-treater>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>