<div class="alert alert-info" role="alert">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="alert bg-light text-dark " role="alert">
                    <form [formGroup]="form" (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col-md-6">
                                <label>เลขที่ประกอบการรักษา</label>
                                <input placeholder="พท.ป. 608" class="form-control" formControlName="personId">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>คำนำหน้า ( NameTitle )</label>
                                <select formControlName="personNameTitle" class="form-control">
                                    <option *ngFor="let data of nametitle" placeholder="เลือกคำนำหน้า" [value]="data">{{data}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>ชื่อ ( First Name )</label>
                                <input placeholder="วาสนา" class="form-control" formControlName="personId">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>นามสกุล ( Last Name )</label>
                                <input placeholder="อิ่มกมล" class="form-control" formControlName="personId">
                            </div>
                        </div>
                        <br>
                        <div class="footer col-md">
                            <button type="submit" aria-label="Close" class="btn btn-primary">submit</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>