<div class="row">
    <div class="col-md" align="right">
        <button type="button" class="btn btn-warning" (click)="openModal(ModalGeneral)">+เพิ่มข้อมูลประวัติการรักษา</button>

    </div>
</div>
<div class="container">
    <ngx-datatable class="bootstrap" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
        <ngx-datatable-column name="วันที่มาพบแพทย์">
            <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                {{value.genDate}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="เวลา">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.genTime}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="อาการสำคัญ">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.genSymptoms}}
            </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="เครื่องมือ">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="row">
                    <div class="col-2">
                        <img src="../assets/images/395848.svg" (click)="delete(value)" width="30px" height="30px" title="ลบ">
                    </div>
                    <div class="col-2">
                        <img src="../assets/images/edit.png" (click)="openEdit(ModalGeneral, value)" width="30px" height="30px" title="แก้ไข">
                    </div>
                    <div class="col">
                        <img src="../assets/images/view.png" (click)="openModalView(ModalviewGeneral, value)" width="30px" height="30px" title="ดูข้อมูล">
                    </div>
                </div>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
<ng-template #ModalGeneral>
    <div class="modal-header">
        <h4 class="modal-title pull-left">ประวัติการรักษา</h4>
    </div>
    <div class="modal-body">

        <div class="row">

            <div class="col-12">
                <div class="alert alert-info">
                    <div class="row">
                        <form class="col" [formGroup]="form" (ngSubmit)="submit()">
                            <div class="row">
                                <div class="col ">
                                    <label for="inputEmail4">วัน เดือน ปีที่มาพบแพทย์ ( Current date )</label>
                                    <input class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker formControlName="genDate">
                                </div>
                                <div class="col">
                                    <label for="inputEmail4">เวลา ( Hour ) นาที ( minute )</label>
                                    <timepicker class="form-control" formControlName="genTime"></timepicker>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="inputEmail4">อาการสำคัญ ( Symptoms/Condition )</label>
                                    <input type="text" class="form-control" placeholder="ปวดหลัง" formControlName="genSymptoms">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="inputEmail4">ประวัติปัจจุบัน ( Present History )</label>
                                    <input type="text" class="form-control" placeholder="ปวดหลัง" formControlName="genPresentHistory">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="inputEmail4">ประวัติอดีต ( Past History )</label>
                                    <input type="text" class="form-control" placeholder="ปวดหลัง" formControlName="genPastHistory">
                                </div>
                            </div>
                            <br>
                            <div class="footer col-md" align="right">
                                <button type="submit" aria-label="Close" class="btn btn-primary">บันทึก</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #ModalviewGeneral>
    <div class="modal-header">
        <h4 class="modal-title pull-left">ประวัติการรักษา</h4>
    </div>
    <div class="modal-body alert-info">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="alert bg-light text-dark" role="alert">

                        <div class="row">
                            <div class="col-3">
                                <label>วันที่มาพบแพทย์ :</label>
                            </div>
                            <div class="col-8">
                                {{form.value.genDate}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label>เวลา :</label>
                            </div>
                            <div class="col-8">
                                {{form.value.genTime}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label>อาการสำคัญ :</label>
                            </div>
                            <div class="col-8">
                                {{form.value.genSymptoms}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label>ประวัติปัจจุบัน :</label>
                            </div>
                            <div class="col-8">
                                {{form.value.genPresentHistory}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label>ประวัติอดีต :</label>
                            </div>
                            <div class="col-8">
                                {{form.value.genPastHistory}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>