<div class="row">
    <div class="col-md" align="right">
        <button type="button" class="btn btn-warning" (click)="openModal(ModalGeneral)">+เพิ่มข้อมูลการรักษา</button>
      
    </div>
</div>
<div class="container">
    <ngx-datatable class="bootstrap" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
        <ngx-datatable-column name="วันที่มาพบแพทย์">
            <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                {{value.genDate}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="เวลา">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.genTime}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="อาการสำคัญ">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.genSymptoms}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ประวัติปัจจุบัน">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.genPresentHistory}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ประวัติอดีต">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.genPastHistory}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="เครื่องมือ">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <button type="button" class="btn btn-warning" (click)="delete(value)">ลบ</button>
                <button type="button" class="btn btn-warning" (click)="openEdit(ModalGeneral, value)">แก้ไข</button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
<ng-template #ModalGeneral>
    <div class="alert alert-info">
        <div class="row">
            <form class="col" [formGroup]="form" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col ">
                        <label for="inputEmail4">วัน เดือน ปีที่มาพบแพทย์ ( Current date )</label>
                        <input class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker formControlName="getDate">
                    </div>
                    <div class="col">
                        <label for="inputEmail4">เวลา ( Hour ) นาที ( minute )</label>
                        <input type="text" class="form-control" placeholder="" formControlName="genTime">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="inputEmail4">อาการสำคัญ ( Symptoms/Condition )</label>
                        <input type="text" class="form-control" placeholder="" formControlName="genSymptoms">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="inputEmail4">ประวัติปัจจุบัน ( Present History )</label>
                        <input type="text" class="form-control" placeholder="" formControlName="genPresentHistory">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="inputEmail4">ประวัติอดีต ( Past History )</label>
                        <input type="text" class="form-control" placeholder="" formControlName="genPastHistory">
                    </div>
                </div>
                <br>
                <div class="footer col-md" align="right">
                    <button type="submit" aria-label="Close" class="btn btn-primary">submit</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>