<div class="row">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <img src="http://thaimed.buu.ac.th/public/backend/upload/thaimed.buu.ac.th/summernote/1ff8a7b5dc7a7d1f0ed65aaa29c04b1e.jpg"
                class="rounded-circle " width="10%" height="20%">
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-4">
            </div>
            <div class="col-5">
                <label>ใบนัดพบแพทย์</label>
            </div>
            <div class="col-4">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
            </div>
            <div class="col-5">
                <label>ศูนย์บริการการแพทย์แผนไทยและการแพทย์ทางเลือก</label>
            </div>
            <div class="col-4">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
            </div>
            <div class="col-5">
                <label>คณะการแพทย์แผนไทยอภัยภูเบศร</label>
            </div>
            <div class="col-4">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-5">
            </div>
            <div class="col-4">
                <label>มหาวิทยาลัยบูรพา จังหวัดชลบุรี 20131</label>
            </div>
            <div class="col-4">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-4">
                <p><label>หมายเลขบัตร ( No. ) : ........................</label></p>
                <p><label>ชื่อ-นามสกุล : ........................</label></p>
                <p><label>วันที่นัด : ........................</label></p>
                <p><label>เวลา : ........................</label></p>
                <p><label>นัดพบแพทย์ :  นางสาว........................</label></p>
            </div>
            <div class="col-4">
            </div>
        </div>
        <div class="row">
                <div class="col-4">
    
                </div>
                <div class="col-4">
    
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-info">Print</button>
                </div>
            </div>
            <br><br>
    </div>

</div>