<div class="modal-header">
    <h4 class="modal-title pull-left"> +เพิ่มโรค </h4>

</div>

<div class="alert alert-info text-dark" role="alert">
    <form>
        <div class="row">
            <div class="col">
                <label for="inputEmail4">รหัสโรค</label>
                <input type="text" class="form-control" placeholder="">
            </div>
            <div class="col">
                <label for="inputEmail4">ชื่อโรค</label>
                <input type="text" class="form-control" placeholder="">
            </div>

        </div>
        <div class="row">
            <div class="col">
                <label for="inputEmail4">ส่วนของร่างกาย</label>
                <input type="text" class="form-control" placeholder="">
            </div>
            <div class="col">
                <label for="inputEmail4">หัตการ</label>
                <input type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="inputEmail4">ชื่อยา</label>
                <input type="text" class="form-control" placeholder="">
            </div>
            <div class="col">
                <label for="inputEmail4">ปริมาณยา</label>
                <input type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="inputEmail4">ขนาดยาที่ใช้</label>
                <input type="text" class="form-control" placeholder="">
            </div>
            <div class="col">
                <label for="inputEmail4">ค่าบริการที่ใช้ในการรักษา</label>
                <input type="text" class="form-control" placeholder="">
            </div>
        </div>
    </form>
</div>
<div class="col-11" align="right">
    <button type="submit" class="btn btn-primary">submit</button>
</div>
<br>