<!-- <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 ">
        <table class="table  text-center  ">
            <thead>

                <tr class=" col-md-12 bg-danger text-light ">
                    <th>ข้อมูลพื้นฐาน</th>
                    <th></th>
                    <th></th>
                    <th class="text-right">
                            <button type="button" class="btn btn-primary" (click)="openModalWithClass(template)">Edit</button>
                        <ng-template #template>
                                <div class="modal-header">
                                  <h4 class="modal-title pull-left">Modal</h4>
                                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  Just a modal with a bunch of words inside, nothing serious.
                                </div>
                              </ng-template>
                    </th>
                </tr>

            </thead>
            <tbody class="table-muted">
                <tr>
                    <th scope="row">เลขที่บัตร</th>
                    <td>{{rows[0].personId}} </td>
                    <th>
                        ชื่อ-สกุล
                    </th>
                    <td>{{rows[0].personNameTitle}} {{rows[0].personName}} {{rows[0].personSurname}}</td>
                </tr>
                <tr>
                    <th>เพศ</th>
                    <td>{{rows[0].personGender}}</td>
                    <th scope="row">วันเกิด</th>
                    <td>{{rows[0].personDate}} </td>
                </tr>
                <tr>
                    <th>อายุ</th>
                    <td>21</td>
                    <th>เลขบัตรประชาชน</th>
                    <td> {{rows[0]. personIdentityId}}</td>
                </tr>
                <tr>
                    <th>สถานะภาพ</th>
                    <td>{{rows[0].personMaritalStatus}} </td>
                    <th scope="row">อาชีพ</th>
                    <td>{{rows[0]. personCareer}} </td>
                </tr>
                <tr>
                    <th>สถานที่เกิด</th>
                    <td> {{rows[0].personBirthPlace}}</td>
                    <th>จังหวัด</th>
                    <td>{{rows[0].personProvince}}</td>
                </tr>
                <tr>
                    <th scope="row">เชื้อชาติ</th>
                    <td>{{rows[0].personNationality}} </td>
                    <th> สัญชาติ </th>
                    <td> {{rows[0]. personCitizenship}}</td>
                </tr>
                <tr>
                    <th>ศาสนา</th>
                    <td>{{rows[0]. personReligion}}</td>
                    <th scope="row">เบอร์โทร </th>
                    <td> {{rows[0].personNumber}}</td>
                </tr>
                <th scope="row">ที่อยู่</th>
                <td colspan="3">{{rows[0].personAddress}} </td>
                <tr>
                    <th>ประวัติครอบครัว</th>
                    <td>{{rows[0].personFamilyHistory}}</td>
                    <th>ประวัติส่วนตัว</th>
                    <td>{{rows[0].personPersonalHistory}}</td>
                </tr>
        </table>
    </div>
    <div class="col-md-2"></div>
</div> -->
<button type="button" class="btn btn-primary" (click)="openModal(insertGeneral)">Add</button>
<div class="container">
    <ngx-datatable class="bootstrap" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
        <ngx-datatable-column name="วันที่มาพบแพทย์">
            <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>

            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="เวลา">
            <ng-template let-value="value" ngx-datatable-cell-template>

            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="อาการสำคัญ">
            <ng-template let-value="value" ngx-datatable-cell-template>

            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ประวัติปัจจุบัน">
            <ng-template let-value="value" ngx-datatable-cell-template>

            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ประวัติอดีต">
            <ng-template let-value="value" ngx-datatable-cell-template>

            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="เครื่องมือ">
            <ng-template let-value="value" ngx-datatable-cell-template>

            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
<ng-template #insertGeneral>

</ng-template>
<!-- 
<div class="row">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="alert alert-warning" role="alert">
                    <strong>ประวัติการเจ็บป่วย ( General and Medical Information )</strong>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="row">
    <div class="col-lg-12">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="alert alert-info" role="alert">
                    <form>
                        <div class="row">
                            <div class="col ">
                                <label for="inputEmail4">วัน เดือน ปีที่มาพบแพทย์ ( Current date )</label>
                                <input type="text" class="form-control" placeholder="20-02-2560">
                            </div>
                            <div class="col">
                                <label for="inputEmail4">เวลา ( Hour ) นาที ( minute )</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="inputEmail4">อาการสำคัญ ( Symptoms/Condition )</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="inputEmail4">ประวัติปัจจุบัน ( Present History )</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="inputEmail4">ประวัติอดีต ( Past History )</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <br>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-datatable class="bootstrap" [columnMode]="'force'" [headerHeight]="50"  [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
    <ngx-datatable-column name="อุณหภูมิ">
      <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
     
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="ชีพจร">
      <ng-template let-value="value" ngx-datatable-cell-template>
        
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="การหายใจ">
      <ng-template let-value="value" ngx-datatable-cell-template>
        
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="ความดันโลหิต">
      <ng-template let-value="value" ngx-datatable-cell-template>
        
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="ส่วนสูง">
      <ng-template let-value="value" ngx-datatable-cell-template>
        
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="น้ำหนัก">
        <ng-template let-value="value" ngx-datatable-cell-template>
          
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="ค่า BMI">
        <ng-template let-value="value" ngx-datatable-cell-template>
          
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="อื่นๆ">
        <ng-template let-value="value" ngx-datatable-cell-template>
          
        </ng-template>
      </ngx-datatable-column>
  </ngx-datatable>

<div class="row">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="alert alert-warning" role="alert">
                    <strong>ตรวจร่างกายก่อนการรักษา ( Physical examination )</strong>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="alert alert-info" role="alert">
                    <form>
                        <div class="row">
                            <div class="col">
                                <label for="inputEmail4">อุณหภูมิ ( Temp )</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="col">
                                <label for="inputEmail4">ชีพจร( Pulse ) ครั้ง/นาที( Beats/min )</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inputEmail4">การหายใจ ( Respiration ) ครั้ง/นาที ( Beats/min )</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="col">
                                <label for="inputEmail4">ความดันโลหิต ( BP ) มม.ปรอท ( mmHg )</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inputEmail4">ส่วนสูง ( Height ) ซม. ( cm. ) </label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="col">
                                <label for="inputEmail4">น้ำหนัก ( Weight ) กก. ( Kg.)</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="col">
                                <label for="inputEmail4">ค่า BMI</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inputEmail4">อื่นๆ</label>
                                <textarea name="address" class="form-control" row="3"></textarea>
                            </div>
                        </div>
                        <br>
                        <b>
                            <label> มาตรวัดความปวด ( ก่อนรักษา ) Pain score ( Pre-treatment )</label>
                        </b>

                        <div class="row">
                            <div class="col-2">
                                <label>ไม่ปวดเลย</label>
                            </div>
                            <div class="col-2">
                                <label>ปวดปานกลาง</label>
                            </div>
                            <div class="col">
                                <label>ปวดมากที่สุด</label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                        <button type="button" class="btn btn-success">0</button>
                                        <button type="button" class="btn btn-success">1</button>
                                        <button type="button" class="btn btn-success">2</button>
                                        <button type="button" class="btn btn-success">3</button>
                                    </div>
                                    <div class="btn-group mr-2 " role="group" aria-label="Second group">
                                        <button type="button" class="btn btn-warning text-white">4</button>
                                        <button type="button" class="btn btn-warning text-white">5</button>
                                        <button type="button" class="btn btn-warning text-white">6</button>
                                    </div>
                                    <div class="btn-group" role="group" aria-label="Third group">
                                        <button type="button" class="btn btn-danger">7</button>
                                        <button type="button" class="btn btn-danger">8</button>
                                        <button type="button" class="btn btn-danger">9</button>
                                        <button type="button" class="btn btn-danger">10</button>
                                    </div>



                                </div>

                            </div>



                        </div>
                        <br>
                        <div class="row">
                            <div class="col-7">
                                <img src="https://i.pinimg.com/564x/ce/cb/54/cecb54937b75383be0d99c6b94758739.jpg" width="400px" height="200px">

                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        ศีรษะ
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        ต้นคอ
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        บ่า
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        ไหล่
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        หลัง,เอว
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        ขา-เท้า
                                    </label>
                                </div>

                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        ข้อเท้า
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        เข่า
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        ข้อศอก
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        ข้อมือ/ข้อนิ้วมือ
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        อ่อนแรง
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <u>
                            <b>การวินิจฉัยทางการแพทย์แผนปัจจุบัน ( ถ้ามี ) Modern Medical diagnosis ( if provided )</b>
                        </u>
                        <div class="row">
                            <div class="col">
                                <label for="inputEmail4"></label>
                                <textarea name="address" class="form-control" row="3"></textarea>
                            </div>
                        </div>
                        <br>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="alert alert-warning" role="alert">
                    <strong>สรุปความเจ็บป่วย ( Summary of sickness )</strong>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="alert alert-info" role="alert">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <form>
                            <label for="inputEmail4">อาการโรค</label>
                            <div class="row-fluid">
                                <select name="level" class="form-control">
                                    <option></option>
                                    <optgroup label="ศีรษะ">
                                        <option>U61.2 ลมปะกัง</option>
                                        <option>U57.34 ลมปลายปัตคาต ส.5 หลัง</option>
                                        <option>U61.15 อัมพาตใบหน้า</option>
                                    </optgroup>
                                    <optgroup label="ต้นคอ">
                                        <option>U71.80 คอตกหมอน / ลปป.โค้งคอ</option>
                                    </optgroup>
                                    <optgroup label="บ่า">
                                        <option>U57.20 ลมปลายปัตคาตบ่า / ลปป.สัญญาณ 4 หลัง</option>
                                        <option>ลมปลายปัตคาตแขน</option>
                                    </optgroup>
                                    <optgroup label="ไหล่">
                                        <option>U71.00 ไหล่ติดเฉียบพลัน,เรื้อรัง</option>

                                    </optgroup>
                                    <optgroup label="หลัง,เอว">
                                        <option>U57.31 ลมปลายปัตคาตส.1 หลัง</option>
                                        <option>U57.32 ลมปลายปัตคาตส.3 หลัง</option>
                                        <option>U75.10/11 ยอกหลังเดี่ยว/คู่</option>
                                    </optgroup>
                                    <optgroup label="ขา-เท้า">
                                        <option>U57.26 ลมปลายปัตคาตขา</option>
                                        <option>U57.27 ลมปลายปัตคาตส้นเท้า</option>
                                        <option>U57.38 ชาหลังเท้า</option>
                                    </optgroup>
                                    <optgroup label="ข้อเท้า">
                                        <option>U71.63 ข้อเท้าแพลง</option>
                                        <option>U57.54 จับโปงแห้งข้อเท้า</option>
                                        <option>U57.52 จับโปงน้ำข้อเท้า</option>
                                    </optgroup>
                                    <optgroup label="เข่า">
                                        <option>U57.53 จับโปงแห้งเข่า / จับโปงแห้งน้ำ</option>
                                    </optgroup>
                                    <optgroup label="ข้อศอก">
                                        <option>U57.23 ลปป.ข้อศอก</option>
                                    </optgroup>
                                    <optgroup label="ข้อมือ / ข้อนิ้วมือ">
                                        <option>U57.24 ลปป.มือ,ลปป.ข้อนิ้วมือ / นิ้วไกปืน</option>
                                    </optgroup>
                                    <optgroup label="อ่อนแรง">
                                        <option>U61.10 แขน-ขาอ่อนแรงครึ่งซีก</option>
                                    </optgroup>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="inputEmail4">หัตถการ ( masssge )</label>
                        <textarea name="address" class="form-control" row="3"></textarea>
                    </div>

                </div>
                <br>
                <u>
                    <b>การรักษา ( Treatment )</b>
                </u>
                <div class="row">
                    <div class="col">
                        <label for="inputEmail4">แผนการรักษา ( Treatment plan )</label>
                        <textarea name="address" class="form-control" row="3"></textarea>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label>วิธีการรักษา ( Treatment Program )</label>
                    </div>
                </div>
                <div class="form-check">
                    <div class="col">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            ประคบสมุนไพร ( The Thai herbal compress massage )
                        </label>
                    </div>
                    <div class="col">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            อบสมุนไพร ( Herbal steam )
                        </label>
                    </div>
                    <div class="col">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            จ่ายยาจากสมุนไพร ( ระบุชื่อ ปริมาณ ขนาดที่ใช้ )
                        </label>
                        <div class="col">
                            <textarea name="address" class="form-control" row="3" placeholder="อื่นๆ"></textarea>
                        </div>
                    </div>
                </div>
                <br>

            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="alert alert-warning" role="alert">
                    <strong>ตรวจร่างกายหลังการรักษา ( Monitoring and evalution after treatments )</strong>
                </div>
                <div class="alert alert-info" role="alert">
                    <div class="row">
                        <div class="col">
                            <textarea name="address" class="form-control" row="3"></textarea>
                        </div>
                    </div>
                    <br>
                    <u>
                        <b>กรณีมีความเจ็บปวดให้บันทึกระดับความเจ็บปวดด้วย ( For pain,please record pain score )</b>
                    </u>
                    <form>
                        <br>
                        <b>
                            <label>มาตรวัดความปวด( หลังการรักษา ) Pain score ( Post-treatment )</label>
                        </b>

                        <div class="row">
                            <div class="col-2">
                                <label>ไม่ปวดเลย</label>
                            </div>
                            <div class="col-2">
                                <label>ปวดปานกลาง</label>
                            </div>
                            <div class="col">
                                <label>ปวดมากที่สุด</label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                        <button type="button" class="btn btn-success">0</button>
                                        <button type="button" class="btn btn-success">1</button>
                                        <button type="button" class="btn btn-success">2</button>
                                        <button type="button" class="btn btn-success">3</button>
                                    </div>
                                    <div class="btn-group mr-2 " role="group" aria-label="Second group">
                                        <button type="button" class="btn btn-warning text-white">4</button>
                                        <button type="button" class="btn btn-warning text-white">5</button>
                                        <button type="button" class="btn btn-warning text-white">6</button>
                                    </div>
                                    <div class="btn-group" role="group" aria-label="Third group">
                                        <button type="button" class="btn btn-danger">7</button>
                                        <button type="button" class="btn btn-danger">8</button>
                                        <button type="button" class="btn btn-danger">9</button>
                                        <button type="button" class="btn btn-danger">10</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-7">
                                <img src="https://i.pinimg.com/564x/ce/cb/54/cecb54937b75383be0d99c6b94758739.jpg" width="400px" height="200px">
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        ศีรษะ
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        ต้นคอ
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        บ่า
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        ไหล่
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        หลัง,เอว
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        ขา-เท้า
                                    </label>
                                </div>

                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        ข้อเท้า
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        เข่า
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        ข้อศอก
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        ข้อมือ/ข้อนิ้วมือ
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        อ่อนแรง
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div align="right">
                            <!-- <button type="submit" class="btn btn-primary" [disabled]="!form.valid">submit</button> -->
<!-- <button type="submit" class="btn btn-primary">submit</button>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div> -->