<div class="alert alert-info" role="alert">
    <div class="row">
        <div class="col-2">
            <img src="../assets/images/user.png">

        </div>

        <div class="footer col-md-9" align="left">
            <br>
            <br>
            <br>
            <br>
            <p> คุณ : {{rows.personName}} {{rows.personSurname}}</p>
            <p>สถานะ : ออนไลน์ </p>
            <p>
                <a href="../menu" class="text-danger">ออกจากระบบ</a>
            </p>
        </div>
    </div>



    <div class="row justify-content-center">
        <div class="col-md"></div>
        <div class="col-9">
            <accordion>
                <accordion-group>
                    <div accordion-heading class="clearfix">
                        ข้อมูลส่วนตัว : {{rows.personId}} 
                        <span class="badge badge-secondary float-right pull-right">...</span>
                    </div>
                    <table class="table  text-center  ">
                        <thead>
                            <tr class=" col-md-12 bg-light text-dark ">
                                <th>ข้อมูลส่วนตัว</th>
                                <th></th>
                                <th></th>
                                <th class="text-right">
                                    <img src="../assets/images/edit.png" (click)="openEdit(ModalPersonal)" width="30px" height="30px" title="แก้ไข">
                                    <!-- <button type="button" class="btn btn-primary"(click)="delete(value)">ลบ</button> -->
                                    <ng-template #template>
                                        <div class="modal-header">
                                            <h4 class="modal-title pull-left">Modal</h4>
                                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Just a modal with a bunch of words inside, nothing serious.
                                        </div>
                                    </ng-template>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="table-muted">
                            <tr>
                                <th scope="row">เลขที่บัตร</th>
                                <td>{{rows.personId}} </td>
                                <th>
                                    ชื่อ-สกุล
                                </th>
                                <td>{{rows.personNameTitle}} {{rows.personName}} {{rows.personSurname}}</td>
                            </tr>
                            <tr>
                                <th>เพศ</th>
                                <td>{{rows.personGender}}</td>
                                <th scope="row">วันเกิด</th>
                                <td>{{rows.personBirth}} </td>
                            </tr>
                            <tr>
                                <th>อายุ</th>
                                <td>21</td>
                                <th>เลขบัตรประชาชน</th>
                                <td> {{rows.personIdentityId}}</td>
                            </tr>
                            <tr>
                                <th>สถานะภาพ</th>
                                <td>{{rows.personMaritalStatus}} </td>
                                <th scope="row">อาชีพ</th>
                                <td>{{rows.personCareer}} </td>
                            </tr>
                            <tr>
                                <th>สถานที่เกิด</th>
                                <td> {{rows.personBirthPlace}}</td>
                                <th>จังหวัด</th>
                                <td>{{rows.personProvince}}</td>
                            </tr>
                            <tr>
                                <th scope="row">เชื้อชาติ</th>
                                <td>{{rows.personNationality}} </td>
                                <th> สัญชาติ </th>
                                <td> {{rows.personCitizenship}}</td>
                            </tr>
                            <tr>
                                <th>ศาสนา</th>
                                <td>{{rows. personReligion}}</td>
                                <th scope="row">เบอร์โทร </th>
                                <td> {{rows.personNumber}}</td>
                            </tr>
                            <th scope="row">ที่อยู่</th>
                            <td colspan="3">{{rows.personAddress}} </td>
                            <tr>
                                <th>ประวัติครอบครัว</th>
                                <td>{{rows.personFamilyHistory}}</td>
                                <th>ประวัติส่วนตัว</th>
                                <td>{{rows.personPersonalHistory}}</td>
                            </tr>
                        </tbody>
                    </table>
                </accordion-group>
            </accordion>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>
    <div>

        <div class="container">
            <tabset>
                <tab heading="ประวัติการรักษา">
                    <app-general></app-general>
                </tab>
                <tab heading="ตรวจร่างกายก่อนการรักษา">
                    <app-physical></app-physical>
                </tab>
                <tab heading="สรุปความเจ็บป่วย">
                    <app-summary></app-summary>
                </tab>
                <tab heading="ตรวจร่างกายและประเมินผลหลังการรักษา">
                    <app-evalution></app-evalution>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<ng-template #ModalPersonal>
        <div class="modal-header ">
                <h4 class="modal-title pull-left">เพิ่มข้อมูลทั่วไป ( Add Personal )</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">

                <div class="row">

                    <div class="col-12">
                        <div class="alert alert-info " role="alert">
                            <form [formGroup]="form" (ngSubmit)="submit()">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>เลขที่บัตร ( ID )</label>
                                        <input placeholder="00-0000" class="form-control" formControlName="personId">
                                    </div>
                                    <div class="col-md-6" class="form-group">
                                        <p>เพศ ( Sex )</p>
                                        <label class="form-check-label">
                                            <input type="radio" class="form-control" formControlName="personGender" value="male"> ชาย ( Male )
                                        </label>
                                        <label class="form-check-label">
                                            <input type="radio" class="form-control" formControlName="personGender" value="female"> หญิง ( Female )
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>คำนำหน้า ( NameTitle )</label>
                                        <select formControlName="personNameTitle" class="form-control">
                                            <option *ngFor="let data of nametitle" placeholder="เลือกคำนำหน้า" [value]="data">{{data}}</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label>ชื่อ ( First Name )</label>
                                        <input class="form-control" formControlName="personName" placeholder="ชื่อ">
                                    </div>
                                    <div class="col">
                                        <label> นามสกุล ( Last Name )</label>
                                        <input class="form-control" formControlName="personSurname" placeholder="นามสกุล">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>วันเดือนปีเกิด ( Brith Day)</label>
                                            <input class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker formControlName="personBirth">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>เลขบัตรประชาชน (ฺฺ ID card )</label>
                                        <input class="form-control" formControlName="personIdentityId" placeholder="เลขบัตรประชาชน">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>สถานภาพ (ฺ Status )</label>
                                        <select formControlName="personMaritalStatus" class="form-control">
                                            <option *ngFor="let data of status" [value]="data">{{data}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>อาชีพ (ฺ Occupation )</label>
                                        <input class="form-control" formControlName="personCareer" placeholder="อาชีพ">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>สถานที่เกิด ( Brith Palce )</label>
                                        <input class="form-control" formControlName="personBirthPlace" placeholder="สถานที่เกิด">
                                    </div>
                                    <div class="col-md-6">
                                        <label>จังหวัด (ฺ Province )</label>
                                        <input class="form-control" formControlName="personProvince" placeholder="จังหวัด">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>เชื้อชาติ (ฺ Nationality )</label>
                                        <input class="form-control" formControlName="personNationality" placeholder="เชื้อชาติ">
                                    </div>
                                    <div class="col-md-6">
                                        <label>สัญชาติ (ฺ Citizenship )</label>
                                        <input class="form-control" formControlName="personCitizenship" placeholder="สัญชาติ">
                                    </div>
                                    <div class="col-md-6">
                                        <label>ศาสนา (ฺ Religion )</label>
                                        <input class="form-control" formControlName="personReligion" placeholder="ศาสนา">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>ที่อยู่ ( Address )</label>
                                        <textarea class="form-control" formControlName="personAddress" placeholder="ที่อยู่"></textarea>
                                    </div>
                                    <div class="col-md-6">
                                        <label>โทรศัพท์ (ฺ Phone )</label>
                                        <input class="form-control" formControlName="personNumber" placeholder="หมายเลขโทรศัพท์">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>ประวัติครอบครัว ( Past History ) </label>

                                        <input class="form-control" formControlName="personFamilyHistory" placeholder="ประวัติครอบครัว">
                                    </div>
                                    <div class="col-md-6">
                                        <label>ประวัติส่วนตัว ( Personal History ) </label>
                                        <input class="form-control" formControlName="personPersonalHistory" placeholder="ประวัติส่วนตัว">
                                    </div>
                                </div>
                                <br>
                                <div class="footer col-md" align="right">
                                    <button type="submit" class="btn btn-primary">submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
</ng-template>